<div class="container background">
    <div class="container form">
        <form (ngSubmit)="onLogin()" #f="ngForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <input type="text" id="userName" name="userName" class="form-control" [(ngModel)]="userName"
                            #n="ngModel" required>
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="text" id="password" name="password" class="form-control" [(ngModel)]="password"
                            #p="ngModel" required>
                    </div>
                    <div>
                        <p *ngIf="errorMessage">{{errorMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-danger" type="button" (click)="onBackClicked()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>